.AboutHero {
    /* min-height: 749px; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 80px 0;
    overflow: hidden;
    
    &__flex {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    &__box {
        width: 50%;
        min-height: 298px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;

        @media (max-width: $small) {
            width: 100%;

            &:first-child {
                margin-bottom: 20px;
                order: 2;
            }

            &:last-child {
                margin-bottom: 40px;
            }
        }
    }

    &__item {}

    &__sub-title {
        font-size: 20px;
        color: $primary-color;
        margin-bottom: 5px;

        @media (max-width: $large) {
            font-size: 18px;
        }


    }

    &__title {
        font-size: 48px;
        font-weight: 600;
        color: $heading-color;
        margin-bottom: 10px;

        @media (max-width: $large) {
            font-size: 40px;
            line-height: 1.1;
        }
    }

    &__paragraph {
        font-size: 18px;
        color: $body-color;
        margin-bottom: 20px;

        @media (max-width: $large) {
            font-size: 16px;
        }
    }

    &__btn {
        display: inline-block;
        font-size: 18px;
        color: $white;
        background-color: $primary-color;
        padding: 10px 32px;
        border-radius: 5px;
    }
    
    &__img {

        @media (max-width: $small) {
            max-width: 250px;
        }
    }

    &__virusICon-1 {
        position: absolute;
        top: 0;
        left: 100px;

        @media (max-width: $small) {
            left: 35px;
        }
    }

    &__virusICon-2 {
        position: absolute;
        top: 90px;
        left: 132px;

        @media (max-width: $small) {
            left: 96px;
        }
    }

    &__virusICon-3 {
        position: absolute;
        top: 62px;
        left: 368px;

        @media (max-width: $small) {
            top: -23px;
            left: 320px;
        }
    }
    &__virusICon-4 {
        position: absolute;
        bottom: -26px;
        left: 105px;

        @media (max-width: $small) {
            bottom: -7px;
            left: 50px;
            transform: scale(1.8);
        }
    }
    &__virusICon-5 {
        position: absolute;
        bottom: -93px;
        left: 40%;


        @media (max-width: $small) {
            transform: scale(0.7);
            left: 60%;
        }
    }
}