.AboutSymptoms {
    padding: 6.25rem 0;
    overflow: hidden;

    @media (max-width: $large) {
        padding: 3.125rem 0;
    }

    &__heading-title {
        font-size: 2rem;
        font-weight: 400;
        color: $heading-color;
        text-align: center;
        position: relative;
        margin-bottom: 4.9375rem;

        &:after {
            content: '';
            position: absolute;
            bottom: -0.3125rem;
            left: 50%;
            transform: translateX(-50%);
            width: 4.0625rem;
            height: 0.25rem;
            border-radius: 0.3125rem;
            background-color: $primary-color;
        }
    }

    &__container {
        max-width: 36.8125rem;
        padding: 0 0.9375rem;
        margin: 0 auto;
        position: relative;
    }

    &__flex {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: -0.9375rem;
        margin-right: -0.9375rem;
    }

    &__box {
        padding: 0 2.1875rem;

        @media (max-width: $large) {
            padding: 0 1.875rem;

            &:not(:last-child) {
                margin-bottom: 2.5rem;
            }
        }
        
        @media (max-width: $very-small ) {
            padding: 0 1.25rem;
        }

        &:not(:last-child) {
            margin-bottom: 4.375rem;
        }
    }

    &__item {}

    &__img {
        display: block;
        margin-bottom: 0.5rem;
    }

    &__title {
        display: block;
        text-align: center;
    }

    &__virusICon-1 {
        position: absolute;
        top: -5rem;
        left: -68%;
    }
    &__virusICon-2 {
        position: absolute;
        left: -15.625rem;
        bottom: 3.625rem;
    }
    &__virusICon-3 {
        position: absolute;
        top: 7.1875rem;
        right: -12.1875rem;
    }
    &__virusICon-4 {
        position: absolute;
        right: -31.625rem;
        bottom: 0;
    }
}