.AboutSymptoms {
    @include section-style;

    @media (max-width: $large) {
        padding: 3.125rem 0;
    }

    &__heading-title {
        @include section-title; 
    }

    &__container {
        max-width: 36.8125rem;
        padding: 0 0.9375rem;
        margin: 0 auto;
        position: relative;
    }

    &__flex {
        @include section-flex;
    }

    &__box {
        padding: 0 2.1875rem;

        @media (max-width: $large) {
            padding: 0 1.875rem;

            &:not(:last-child) {
                margin-bottom: 2.5rem;
            }
        }
        
        @media (max-width: $very-small ) {
            padding: 0 1.25rem;
        }

        &:not(:last-child) {
            margin-bottom: 4.375rem;
        }
    }

    &__item {}

    &__img {
        display: block;
        margin-bottom: 0.5rem;
    }

    &__title {
        display: block;
        text-align: center;
    }

    &__virusICon-1 {
        position: absolute;
        top: -5rem;
        left: -68%;
    }
    &__virusICon-2 {
        position: absolute;
        left: -15.625rem;
        bottom: 3.625rem;
    }
    &__virusICon-3 {
        position: absolute;
        top: 7.1875rem;
        right: -12.1875rem;
    }
    &__virusICon-4 {
        position: absolute;
        right: -31.625rem;
        bottom: 0;
    }
}