.AboutAbout {
    padding: 100px 0;
    overflow: hidden;

    @media (max-width: $small) {
        padding: 50px 0;
    }

    &__flex {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }

    &__box {
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;

        @media (max-width: $large) {
            width: 100%;

            &:first-child {
                margin-bottom: 30px;
            }
        }
    }
    
    &__item {}

    &__heading-title {
        position: relative;
        font-size: 32px;
        font-weight: 400;
        color: #0F0F0F;
        margin-bottom: 29px;

        @media (max-wdith: $large) {
            margin-bottom: 25px;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 65px;
            height: 5px;
            background-color: $primary-color;
            border-radius: 5px;
        }
    }
    
    &__paragraph {
        font-size: 16px;
        color: $body-color;

        &:nth-child(2) {
            margin-bottom: 25px;

            @media (max-width: $large) {
                margin-bottom: 10px;
            }
        }
    }

    &__virusIcon-1 {
        position: absolute;
        top: -85px;
        right: -31px;
        
        @media (max-width: $medium) {
            top: -47px;
            right: 61px;
        }
        @media (max-width: $small) {
            top: -47px;
            right: -31px;
            transform: scale(1.1);
        }
    }
    &__virusIcon-2 {
        position: absolute;
        top: -47px;
        right: 225px;

        @media (max-width: $medium) {
            top: -39px;
            right: 45%;
        }
        
    }
    &__virusIcon-3 {
        position: absolute;
        top: 150px;
        right: 15px;

        @media (max-width: $medium) {
            top: 118px;
            right: 49px;
        }
        @media (max-width: $small) {
            right: -24px;
        }
    }
    &__virusIcon-4 {
        position: absolute;
        bottom: -52px;
        right: 93px;

        @media (max-width: $medium) {
            bottom: -29px;
            right: 110px;
        }
    }
    &__virusIcon-5 {
        position: absolute;
        left: 38px;
        bottom: -42px;

        @media (max-width: $medium) {
            left: 75px;
            bottom: -47px;
            transform: scale(1.5);
        }
        @media (max-width: $small) {
            left: -34px;
        }
       
    }
}