.AboutAbout {
    padding: 6.25rem 0;
    overflow: hidden;

    @media (max-width: $small) {
        padding: 3.125rem 0;
    }

    &__flex {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: -0.9375rem;
        margin-right: -0.9375rem;
    }

    &__box {
        width: 50%;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        position: relative;

        @media (max-width: $large) {
            width: 100%;

            &:first-child {
                margin-bottom: 1.875rem;
            }
        }
    }
    
    &__item {}

    &__heading-title {
        position: relative;
        font-size: 2rem;
        font-weight: 400;
        color: #0F0F0F;
        margin-bottom: 1.8125rem;

        @media (max-wdith: $large) {
            margin-bottom: 1.5625rem;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -0.3125rem;
            left: 0;
            width: 4.0625rem;
            height: 0.3125rem;
            background-color: $primary-color;
            border-radius: 0.3125rem;
        }
    }
    
    &__paragraph {
        font-size: 1rem;
        color: $body-color;

        &:nth-child(2) {
            margin-bottom: 1.5625rem;

            @media (max-width: $large) {
                margin-bottom: 0.625rem;
            }
        }
    }

    &__virusIcon-1 {
        position: absolute;
        top: -5.3125rem;
        right: -1.9375rem;
        
        @media (max-width: $medium) {
            top: -2.9375;
            right: 3.8125rem;
        }
        @media (max-width: $small) {
            top: -2.9375rem;
            right: -1.9375rem;
            transform: scale(1.1);
        }
    }
    &__virusIcon-2 {
        position: absolute;
        top: -2.9375rem;
        right: 14.0625rem;

        @media (max-width: $medium) {
            top: -2.4375rem;
            right: 45%;
        }
        
    }
    &__virusIcon-3 {
        position: absolute;
        top: 9.375rem;
        right: 0.9375rem;

        @media (max-width: $medium) {
            top: 7.375rem;
            right: 3.0625rem;
        }
        @media (max-width: $small) {
            right: -1.5rem;
        }
    }
    &__virusIcon-4 {
        position: absolute;
        bottom: -3.25rem;
        right: 5.8125rem;

        @media (max-width: $medium) {
            bottom: -1.8125rem;
            right: 6.875rem;
        }
    }
    &__virusIcon-5 {
        position: absolute;
        left: 2.375rem;
        bottom: -2.625rem;

        @media (max-width: $medium) {
            left: 4.6875rem;
            bottom: -2.9375rem;
            transform: scale(1.5);
        }
        @media (max-width: $small) {
            left: -2.125rem;
        }
       
    }
}