.AboutSymptoms {
    padding: 100px 0;
    overflow: hidden;

    @media (max-width: $large) {
        padding: 50px 0;
    }

    &__heading-title {
        font-size: 32px;
        font-weight: 400;
        color: $heading-color;
        text-align: center;
        position: relative;
        margin-bottom: 79px;

        &:after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
            width: 65px;
            height: 4px;
            border-radius: 5px;
            background-color: $primary-color;
        }
    }

    &__container {
        max-width: 589px;
        padding: 0 15px;
        margin: 0 auto;
        position: relative;
    }

    &__flex {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }

    &__box {
        padding: 0 35px;

        @media (max-width: $large) {
            padding: 0 30px;

            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
        
        @media (max-width: 365px ) {
            padding: 0 20px;
        }

        &:not(:last-child) {
            margin-bottom: 70px;
        }
    }

    &__item {}

    &__img {
        display: block;
        margin-bottom: 8px;
    }

    &__title {
        display: block;
        text-align: center;
    }

    &__virusICon-1 {
        position: absolute;
        top: -80px;
        left: -68%;
    }
    &__virusICon-2 {
        position: absolute;
        left: -250px;
        bottom: 58px;
    }
    &__virusICon-3 {
        position: absolute;
        top: 115px;
        right: -195px;
    }
    &__virusICon-4 {
        position: absolute;
        right: -506px;
        bottom: 0;
    }
}