.AboutAccordion {
    padding: 6.25rem 0;
    overflow: hidden;

    @media (max-width: $small) {
        padding: 3.125rem 0;
    }

    &__container {
        max-width: 36.625rem;
        padding: 0 0.9375rem;
        margin: 0 auto;
    }

    &__heading-title {
        font-size: 2rem;
        font-weight: 400;
        color: $heading-color;
        text-align: center;
        position: relative;
        margin-bottom: 4.9375rem;
    }

    &__accordion {
        background-color: $background-color-2;
        border-radius: 0.3125rem;
        
        &:not(:last-child) {
            margin-bottom: 0.9375rem;
        }
    }

    &__accordion-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.75rem 0.9375rem;
        background-color: $background-color-1;
        border-radius: 0.3125rem;
        cursor: pointer;

        &.active {
            background-color: $primary-color;
        }
    }

    &__accordion-question {
        font-size: 1rem;
        font-weight: 400;
        color: #111;
        padding-right: 0.9375rem;

        &.active {
            color: $white;
        }
    }
    &__accordion-body {
        padding: 0.9375rem;
        overflow: hidden;
        display: none;
        border-end-end-radius: 0.3125rem;
        border-end-start-radius: 0.3125rem;
        background-color: $background-color-2;

        &.active {
            display: block;
        }
    }
    &__accordion-answer {
        font-size: 0.875rem;
        font-weight: 400;
        color: $body-color;
    }

    &__icon {
        max-width: 1.125rem;
        min-width: 1.125rem;
    }
}