.card {
    padding-top: 0.625rem;
    padding-bottom: 1.875rem;

    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-right: -0.9375rem;
        margin-left: -0.9375rem;
    }

    &__box {
        width: 25%;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;

        @media (max-width: $large) {
            width: 50%;
            margin-bottom: 1.25rem;
        }

        @media (max-width: $small) {
            width: 100%;
        }
    }

    &__item {
        border-radius: 0.3125rem;
        padding: 1.25rem 1.25rem 1.5625rem;
        box-shadow: 0 0 0.4375rem rgba(0, 0, 0, 0.15);

        &.yellow {
            border-bottom: 0.3125rem solid $yellow-card ;
        }

        &.green {
            border-bottom: 0.3125rem solid $green-card ;
        }

        &.black {
            border-bottom: 0.3125rem solid $black-card ;
        }

        &.red {
            border-bottom: 0.3125rem solid $red-card ;
        }

    }

    &__categories {
        font-size: 1.25rem;
        color: $gray-color-1;
        margin-bottom: 0.9375rem;
    }

    &__number {
        font-size: 2.625rem;
        font-weight: 400;
        color: $black;
        margin-bottom: 0.3125rem;
    }
    
    &__today {
        font-size: 1.125rem;
        color: $body-color;
        
        &:not(:last-child) {
            margin-bottom: 0.3125rem;
        }
    }

    &__date {
        font-size: 1.125rem;
        color: $gray-color-2;
    }
}