.header {
    background-color: $background-color-2;
    position: fixed;
    width: 100%;
    z-index: 1100;
    box-shadow: 0 0.125rem 0.4375rem rgba(0, 0, 0, 0.15);

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
    
    &__logo {

        @media (max-width: $small) {
            max-width: 8.360375rem;
        }
    }
    &__menu {}

    &__item {
        display: inline-block;

        // margin-right: 30px;
        &:not(:last-child) {
            margin-right: 1.875rem;

            @media (max-width: $small) {
                margin-right: 1.25rem;
            }
        }
    }
    
    &__link {
        display: inline-block;
        font-size: 1.125rem;
        color: $gray-color-2;

        &.active {
            color: #000;
        }

        @media (max-width: $very-small) {
            font-size: 1rem;
        }
    }
}