// COLOR
$primary-color: #EE6161;
$body-color: #242424;
$heading-color: #0f0f0f;
$black: #000000;
$white: #ffffff;
$gray-color-1: #444444;
$gray-color-2: #686868;

$background-color-1: #FFF;
$background-color-2: #F8F9FA;

$yellow-card: #DFA527;
$green-card: #20AC76;
$black-card: #283942;
$red-card: #EE6161;

// FONT FAMILY 
$font-family-1: 'Source Sans Pro', sans-serif;

// BREAKPOINTS
$very-small: 365px;
$small: 576px; 
$medium: 768px;
$large: 992px; 
$xlarge: 1200px;  