@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

/* Reset */

html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    /* width: 100%;
    height: auto; */
    max-width: 100%;
}

.loading-container {
  min-height: 100vh;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  width: 60px;
  height: 60px;
  border-top: 5px solid #EE6161;
  border-radius: 50%;
  /* transform: rotate(45deg); */
  margin: 0 auto;
  animation: loading infinite 1s ease-in-out;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 960px) {
  .container {
    max-width: 700px;
  }
}

.text-center {
  text-align: center;
}

/* Header */
.header {
  background-color: #F8F9FA;
  position: fixed;
  width: 100%;
  z-index: 1100;
}
.header .header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .header__logo {
  
}
.header .header__menu { 
}
.header .header__item {
  display: inline-block;
}
.header .header__item:not(:last-child) {
  margin-right: 30px;
}
.header .header__link {
  display: inline-block;
  font-size: 18px;
  color: #686868;
}
.header .header__link.active {
  color: #000;
}

@media (max-width: 540px) {
  .header .header__logo {
    max-width: 133.766px;
  }
  .header .header__item:not(:last-child) {
    margin-right: 20px;
  }
}

@media (max-width: 360px) {
  .header .header__logo {
    max-width: 113.766px;
  }
  .header .header__link {
    font-size: 16px;
  }
}

/* Footer */
.footer {
  padding: 20px 0;
}
.footer__credits {
  font-size: 16px;
  color: #444;
  text-align: center;
}

/* Country */

.country {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 130px 0 50px;
}
.country__name {
  font-size: 32px;
  margin: 0 15px;
}
.country__flag {
  max-height: 40px;
  max-width: 80px;
  margin: 0 15px;
}

/* Cards */

.card {
  padding-top: 10px;
  padding-bottom: 30px;
}
.card__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.card__box {
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}
.card__item {
  border-radius: 5px;
  padding: 20px 20px 25px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
}
.card__item.yellow {
  border-bottom: 5px solid #DFA527 ;
}
.card__item.green {
  border-bottom: 5px solid #20AC76 ;
}
.card__item.black {
  border-bottom: 5px solid #283942 ;
}
.card__item.red {
  border-bottom: 5px solid #EE6161 ;
}
.card__category {
  font-size: 20px;
  color: #444;
  margin-bottom: 15px;
}
.card__number {
  font-size: 42px;
  font-weight: 400;
  color: #000;
  margin-bottom: 5px;
}
.card__today {
  font-size: 18px;
  color: #242424;
}
.card__today:not(:last-child) {
  margin-bottom: 5px;
}
.card__date {
  font-size: 18px;
  color: #686868;
}

@media (max-width: 992px) {
  .card__box {
    width: 50%;
    margin-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .card__box {
    width: 100%;
  }
}

/* Country Picker */

.country-picker {
  padding: 40px 0;
  color: red;
}
.country-picker__select {
  border: none;
  border-bottom: 2px solid #283942;
  font-size: 16px;
  padding: 7px 0;
  outline: none;
}
.country-picker__option {
  font-size: 14px;
}

/* Chart */

.chart {
  padding: 40px 0;
}
.chart .container {
  width: 70%;
}

@media (max-width: 575px) {
  .chart .container {
    width: 98%;
  }
}



/* AboutHero */

.AboutHero {
  /* min-height: 749px; */
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 80px 0;
}
.AboutHero__flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.AboutHero__box {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

.AboutHero__item {}

.AboutHero__sub-title {
  font-size: 20px;
  color: #EE6161;
  margin-bottom: 5px;
}
.AboutHero__title {
  font-size: 48px;
  font-weight: 600;
  color: #0F0F0F;
  margin-bottom: 10px;
}
.AboutHero__paragraph {
  font-size: 18px;
  color: #111111;
  margin-bottom: 20px;
}
.AboutHero__btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background-color: #EE6161;
  padding: 10px 32px;
  border-radius: 5px;
}

@media (max-width: 992px) {
  .AboutHero__sub-title {
    font-size: 18px;
  }
  .AboutHero__title {
    font-size: 40px;
    line-height: 1.1;
  }
  .AboutHero__paragraph {
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  .AboutHero__box {
    width: 100%;
  }
  .AboutHero__box:first-child {
    margin-bottom: 20px;
    order: 2;
  }
  .AboutHero__box:last-child {
    margin-bottom: 40px;
  }
  .AboutHero__img {
    max-width: 250px;
  }
}


/* AboutAbout */
.AboutAbout {
  padding: 100px 0;
}
.AboutAbout__flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.AboutAbout__box {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

.AboutAbout__item {}

.AboutAbout__heading-title {
  position: relative;
  font-size: 32px;
  font-weight: 400;
  color: #0F0F0F;
  margin-bottom: 29px;
}
.AboutAbout__heading-title::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 65px;
  height: 5px;
  background-color: #EE6161;
  border-radius: 5px;
}
.AboutAbout__paragraph {
  font-size: 16px;
  color: #000;
}
.AboutAbout__paragraph:nth-child(2) {
  margin-bottom: 25px;
}

@media (max-width: 992px) {
  .AboutAbout__box {
    width: 100%;
  }
  .AboutAbout__box:first-child {
    margin-bottom: 30px;
  }
  .AboutAbout__heading-title {
    margin-bottom: 25px;
  }
  .AboutAbout__paragraph:nth-child(2) {
    margin-bottom: 10px;
  }
}
@media (max-width: 575px) {
  .AboutAbout {
    padding: 50px 0;
  }
}

/* AboutSymptoms */
.AboutSymptoms {
  padding: 100px 0;
}
.AboutSymptoms__heading-title {
  font-size: 32px;
  font-weight: 400;
  color: #0f0f0f;
  text-align: center;
  position: relative;
  margin-bottom: 79px;
}
.AboutSymptoms__heading-title::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 65px;
  height: 4px;
  border-radius: 5px;
  background-color: #EE6161;
}
.AboutSymptoms__container {
  max-width: 579px;
  padding: 0 15px;
  margin: 0 auto;
}
.AboutSymptoms__flex {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.AboutSymptoms__box {
    padding: 0 35px;
}
.AboutSymptoms__box:not(:last-child) {
  margin-bottom: 70px;
}
.AboutSymptoms__item {}
.AboutSymptoms__img {
  display: block;
  margin-bottom: 8px;
}
.AboutSymptoms__title {
  display: block;
  text-align: center;
}

@media (max-width: 992px ) {
}
@media (max-width: 575px ) {
  .AboutSymptoms {
    padding: 50px 0;
  }
  .AboutSymptoms__box {
    padding: 0 30px;
  }
  .AboutSymptoms__box:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media (max-width: 365px ) {
  .AboutSymptoms__box {
    padding: 0 20px;
  }
}

/* AboutYoutube */
.AboutYoutube {
  padding: 100px 0;
}
.AboutYoutube__container {
  max-width: 813px;
  margin: 0 auto;
  padding: 0 15px;
}

.AboutYoutube__heading-title {
  font-size: 32px;
  font-weight: 400;
  color: #0f0f0f;
  text-align: center;
  position: relative;
  margin-bottom: 79px;
}

.AboutYoutube__heading-title::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 65px;
  height: 4px;
  border-radius: 5px;
  background-color: #EE6161;
}

.AboutYoutube__video {
  width: 100%;
  height: 458px;
}

@media (max-width: 575px ) {
  .AboutYoutube {
    padding: 50px 0;
  }
  .AboutYoutube__video {
    width: 100%;
    height: 220px;
  }
}


.AboutAccordion {
  padding: 100px 0;
}
.AboutAccordion__container {
  max-width: 586px;
  padding: 0 15px;
  margin: 0 auto;
}
.AboutAccordion__heading-title {
  font-size: 32px;
  font-weight: 400;
  color: #0f0f0f;
  text-align: center;
  position: relative;
  margin-bottom: 79px;
}
.AboutAccordion__accordion {
  background-color: #F8F9FA;
  border-radius: 5px;
}
.AboutAccordion__accordion:not(:last-child) {
  margin-bottom: 15px;
}
.AboutAccordion__accordion-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.AboutAccordion__accordion-head.active {
  background-color: #EE6161;
}
.AboutAccordion__accordion-question {
  font-size: 16px;
  font-weight: 400;
  color: #111;
  padding-right: 15px;
}
.AboutAccordion__accordion-question.active {
  color: #fff;
}
.AboutAccordion__accordion-body {
  padding: 15px;
  overflow: hidden;
  display: none;
  border-end-end-radius: 5px;
  border-end-start-radius: 5px;
  background-color: #F8F9FA;
}
.AboutAccordion__accordion-body.active {
  display: block;
}
.AboutAccordion__accordion-answer {
  font-size: 14px;
  font-weight: 400;
  color: #111;
}

@media (max-wdith: 575px) {
  .AboutAccordion {
    padding: 50px 0;
  }
}

/* .AboutAccordion-heading-title::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 65px;
  height: 4px;
  border-radius: 5px;
  background-color: #EE6161;
} */